<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Product"  thread-count="1">
    <test name="AllTests" thread-count="1">
        <classes>
            <class name="Tests.ProductTests">
            </class>
            <class name="Tests.SignInTests">
            </class>
            <class name="Tests.SignUpTests">
            </class>
        </classes>
    </test>
</suite>